### IntelliJ IDEA ###
out/
.idea

### Mac OS ###
.DS_Store

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar


### Node ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

### React ###
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

.kotlin/

uploads